.alert-past{
    background-color: pink;
}

.alert-future{
    background-color: lightblue;
}
.alert-tracker {
    width: 100%;
}
.custom-alert-col {
    margin-right: 25px; /* Adjust the margin as needed to control spacing between alert-tracker components */
    margin-bottom: 10px;
}



