<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Set Alert</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- DataTable-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-database-compat.js"></script>
    <!-- icons  -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--moment-->
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <!--css-->
    <link rel="stylesheet" href="css/alert.css">
    <link rel="stylesheet" href="css/global.css">
    <!--tooltip-->
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.0/dist/tippy.css">
    <script src="https://unpkg.com/tippy.js@6.3.0/dist/tippy.all.umd.min.js"></script>
    <style>
        body {
            background-color: #a8e0c3;
        }
    </style>


</head>

<body class="sb-nav-fixed">
    <div id="app">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-success" id = "navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="afterloginhome.html">
                        <i class="fas fa-heartbeat customSize"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="afterloginhome.html">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="trackerDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Tracker
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="trackerDropdown">
                                    <li><a class="dropdown-item" href="bloodpressure.html">Blood Pressure Tracker</a>
                                    </li>
                                    <li><a class="dropdown-item" href="bloodglucose.html">Blood Glucose Tracker</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="alert.html">Notification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="map.html">Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="forum.html">Forum</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fas fa-user fa-fw"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" @click="logout()">Logout</a></li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div>
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Enter Alert Timing</h1>
                    <div class="card mb-4">
                        <div class="card-body">
                            <form @submit.prevent="submitEntry">
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="Msg" type="text" placeholder=""
                                                v-model="Msg" required />
                                            <label for="Msg">Message</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="TeleID" type="text" placeholder=""
                                                v-model="TeleID" required />
                                            <label for="TeleID">Telegram ID</label>
                                        </div>
                                        <!-- <span class="info-icon" @mouseover="showTelegramIdInfo">ℹ️</span> -->
                                        <span class="info-icon"
                                            data-tippy-content="You can find your Telegram ID through the Telegram bot">ℹ️</span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="datetime" type="datetime-local"
                                                placeholder="" v-model="datetime" required />
                                            <label for="date">Date & Time of Alert</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>

                    <h1 class="mt-4">Your Alerts</h1>
                    <!-- <div class="card mb-4">
                        <div class="card-body">
                            <table id="datatable" class="table table-striped" style="width:100%"></table>
                        </div>
                    </div> -->
                    <!-- our component -->
                    <alert-tracker v-for='(alert, idx) in alertList' v-bind:key='idx' v-bind:alert='alert'
                        v-bind:idx='idx' v-bind:class="alertBackgroundColorClass(idx)"
                        v-on:delete='deleteAlert'></alert-tracker>
                </div>
            </main>
        </div>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

<script>
    // Initialize Firebase 
    const firebaseConfig = {
        databaseURL: "https://wad2-project-577ea-default-rtdb.asia-southeast1.firebasedatabase.app",
        apiKey: "AIzaSyDWR7cQApDtFlD2wx5Btku67Bhg8_xwsUg",
        authDomain: "wad2-project-577ea.firebaseapp.com",
        projectId: "wad2-project-577ea",
        storageBucket: "wad2-project-577ea.appspot.com",
        messagingSenderId: "878918082978",
        appId: "1:878918082978:web:250e7cfd55234ea00012fb",
        measurementId: "G-SLGD98DFQ5"
    };
    firebase.initializeApp(firebaseConfig);
    var database = firebase.database();

    var table;

    const app = Vue.createApp({
        data() {
            return {
                currentUser: null,
                entries: [],
                datetime: "",
                TeleID: "",
                Msg: "",
                alertList: [],
            }
        },
        methods: {
            async submitEntry() {
                var userRef = database.ref('alerts/' + this.currentUser.userKey + '/alertEntries');
                var newEntryRef = userRef.push();
                await newEntryRef.set({
                    Msg: this.Msg,
                    TeleID: this.TeleID,
                    // datetime: (this.datetime).replace("T"," "),
                    datetime: this.datetime,
                });
                // table.row.add([this.Msg, this.TeleID, this.datetime]).draw(); //adding a row in datatable
                this.alertList.push({ 'Msg': this.Msg, 'TeleID': this.TeleID, 'datetime': this.datetime })
                //Clear input fields
                this.Msg = "";
                this.TeleID = "";
                this.datetime = "";
            },
            logout() {
                localStorage.removeItem("user");
                window.location.href = "login.html";
            },

            async getAlerts() {
                try {
                    const userRef = database.ref('alerts/' + this.currentUser.userKey + '/alertEntries');
                    const snapshot = await userRef.once('value');
                    const alertData = snapshot.val();

                    if (alertData) {
                        // Convert alertData to an array (if needed) for easy iteration
                        const alertList = Object.values(alertData);
                        this.alertList = alertList;
                    }
                } catch (error) {
                    console.error('Error fetching alert data:', error);
                }
            },

            async getEntries() {
                var ref = database.ref("alerts/" + this.currentUser.userKey + "/alertEntries");
                let snapshot = await ref.once('value')
                this.entries = snapshot.val();

                //Convert entries to array in order to use DataTable
                let entriesArr = Object.values(this.entries);
                let valuesArr = [];

                for (let entry of entriesArr) {
                    valuesArr.push(Object.values(entry));
                }
                // Create Table
                // table = new DataTable('#datatable', {
                //     columns: [
                //         { title: 'Message' },
                //         { title: 'Telegram ID' },
                //         { title: "Date & Time of Alert" },
                //         { title: "Action" },
                //     ],
                //     data: valuesArr,
                //     columnDefs: [
                //         {
                //             targets: -1, // Target the last column (Action)
                //             data: null,
                //             render: function (data, type, row, meta) {
                //                 // Use meta.row to get the row index and create a unique index
                //                 var rowIndex = meta.row;

                //                 // Create a delete button with a unique index
                //                 return '<button class="delete-button" data-index="' + rowIndex + '"><i class="fas fa-trash-alt"></i></button>';
                //             }
                //         },
                //     ],
                // });
            },
            // async deleteAlert(index) {
            //     var ref = database.ref('alerts/' + currentUser.userKey + '/alertEntries');
            //     let snapshot = await ref.once('value');
            //     entries = snapshot.val();
            //     recordKeys = Object.keys(entries); //recordkeys only exist in here 
            //     console.log(recordKeys[0]);
            //     let rKey = recordKeys[index];
            //     let recordRef = database.ref('alerts/' + currentUser.userKey + '/alertEntries/' + rKey);
            //     recordRef.remove()
            //         .then(() => {
            //             console.log('Record deleted successfully.');
            //         })
            //         .catch(error => {
            //             console.error('Error deleting record:', error);
            //         });
            // }
            async deleteAlert(index) {
                try {
                    const ref = database.ref('alerts/' + currentUser.userKey + '/alertEntries');
                    const snapshot = await ref.once('value');
                    const entries = snapshot.val();
                    const recordKeys = Object.keys(entries);
                    const rKey = recordKeys[index];
                    const recordRef = database.ref('alerts/' + currentUser.userKey + '/alertEntries/' + rKey);

                    await recordRef.remove();

                    // Update the alertList in your Vue component
                    this.alertList.splice(index, 1); // Remove the alert from the list
                    console.log('Record deleted successfully.');
                } catch (error) {
                    console.error('Error deleting record:', error);
                }
            },
            isDateInPast(date) {
                const currentDate = moment();
                const alertDate = moment(date);
                return alertDate.isBefore(currentDate);
            },
            showTelegramIdInfo() {
                // You can replace this with any user-friendly message or instructions
                alert("You can find your Telegram ID through the Telegram bot.");
            }

        },
        computed: {
            alertBackgroundColorClass() {
                return (index) => {
                    const date = this.alertList[index].datetime; // Replace with your date property name
                    if (this.isDateInPast(date)) {
                        return 'alert-past'; // CSS class for past dates (e.g., red background)
                    } else {
                        return 'alert-future'; // CSS class for future dates (e.g., green background)
                    }
                };
            },
        },
        created() {
            this.currentUser = JSON.parse(localStorage.getItem("user"));
            this.getEntries();
            this.getAlerts();
        }
    });
    app.component('alert-tracker', {
        props: ['alert', 'idx'],
        methods: {
            deleteAlertEntry() {
                this.$emit('delete', this.idx); // Emit the delete event with the index
            }
        },
        template: `
            <div class="card" style="width: 21rem;display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">Time of Alert: {{alert.datetime}}</h5>
                <hr>
                <p class="card-text">Telegram ID: {{alert.TeleID}}</p>
                <p class="card-text">{{alert.Msg}}</p>
                <button type="button" @click="deleteAlertEntry" class="btn btn-danger">Delete</button>
            </div>
            </div>
            `
    })

    const vm = app.mount("#app")






    let entries = [];
    let recordKeys = [];
    let currentUser = JSON.parse(localStorage.getItem("user"));
    console.log(currentUser);
    // async function getEntries(index) {
    //     var ref = database.ref('alerts/' + currentUser.userKey + '/alertEntries');
    //     let snapshot = await ref.once('value');
    //     entries = snapshot.val();
    //     recordKeys = Object.keys(entries); //recordkeys only exist in here 
    //     console.log(recordKeys[0]);
    //     let rKey = recordKeys[index];
    //     let recordRef = database.ref('alerts/' + currentUser.userKey + '/alertEntries/' + rKey);
    //     recordRef.remove()
    //         .then(() => {
    //             console.log('Record deleted successfully.');
    //         })
    //         .catch(error => {
    //             console.error('Error deleting record:', error);
    //         });
    // }

    // function to delete row
    // $(document).ready(function () {
    //     $('#datatable').on('click', '.delete-button', function () {
    //         var index = $(this).data('index');
    //         // console.log('Clicked on delete button at index ' + index);
    //         getEntries(index);
    //         var row = table.row($(this).parents('tr'));
    //         row.remove().draw();
    //     });
    // });

    async function getData() {
        var ref = database.ref("alerts/" + currentUser.userKey + "/alertEntries");
        let snapshot = await ref.once('value')
        entries2 = snapshot.val();
        let entriesArr = Object.values(entries2);
        return entriesArr
    }
</script>
<script>
    function convertAndFilter(entriesArr) {
        const entriesArrobj = JSON.parse(JSON.stringify(entriesArr))
        const now = moment();
        const previousMinute = now.clone().subtract(1, 'minutes');
        const currentTime = now;
        console.log('previousMinute', previousMinute.format());
        console.log('currentTime', currentTime.format());
        return entriesArrobj.filter(row => {
            const scheduleDatetime = moment(row['datetime']);
            return scheduleDatetime.isAfter(previousMinute) && scheduleDatetime.isBefore(currentTime);
        });
    }

    async function sendMessage(row) {
        const bot_id = "6842993088:AAGqiVSlwx9aaXLAx6Mp1CNblPMUIMqP6bs";
        const chat_id = row['TeleID'];
        const message = row['Msg'];
        const url = `https://api.telegram.org/bot${bot_id}/sendMessage?chat_id=${chat_id}&text=${message}`;

        try {
            const response = await axios.get(url);
            console.log(response.data);
            return response.data;
        } catch (error) {
            console.error(error);
        }
    }

    async function processData() {
        try {
            const data = await getData();
            const filteredData = convertAndFilter(data);
            if (filteredData.length > 0) {
                const statuses = await Promise.all(filteredData.map(sendMessage));
                console.log(statuses);
            }
        } catch (error) {
            console.error(error);
        }
    }

    (async function () {
        try {
            while (true) {
                await processData();
                console.log('Waiting for 60 seconds...');
                await new Promise(resolve => setTimeout(resolve, 60000));
            }
        } catch (error) {
            console.error(error);
        }
    })();
</script>
<script>
    // Initialize Tippy.js tooltips
    document.addEventListener('DOMContentLoaded', function () {
        tippy('.info-icon', {
            placement: 'top',
            theme: 'light'
        });
    });
</script>


<!-- <script src="./alert.js"></script> -->