<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>My Blood Pressure Rising</title>
    <link href="bootstrap/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- DataTable-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-database-compat.js"></script>

</head>

<body class="sb-nav-fixed">
    <div id="app">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                    class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                        aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                            class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" @click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                                data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                        data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                        aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                        data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                        data-bs-target="#pagesCollapseError" aria-expanded="false"
                                        aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                        data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{currentUser.fName + " " +currentUser.lName}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Enter blood glucose reading</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="date" type="date" placeholder=""
                                                v-model="date" />
                                            <label for="date">Entry date</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="BgLevel" type="text" placeholder=""
                                                v-model="bgLevel" />
                                            <label for="bgLevel">Blood glucose level (mg/dl) </label>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" @click="submitEntry()">Submit</button>
                            </div>
                        </div>

                        <h1 class="mt-4">Blood glucose Readings</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                <table id="datatable" class="table table-striped" style="width:100%"></table>
                                <!-- <table id="datatable" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Blood glucose level (mg/dl)</th>
                                            <th>Entry Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody> -->
                                <!-- DataTable rows are created as you did before, including the unique indexes in data-index attribute -->
                                <!-- <tr v-for="(value, key) in valuesArr" :key="index">
                                            <td>{{ value[0] }}</td>
                                            <td>{{ value[1]] }}</td>
                                            <td>
                                                <button @click="delete(key)" class="delete-button" :data-index="index">Delete</button>
                                            </td>
                                        </tr> -->
                                <!-- Add more rows as needed -->
                                <!-- </tbody>
                                </table> -->

                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="bootstrap/js/scripts.js"></script>

<script>
    // Initialize Firebase 
    const firebaseConfig = {
        databaseURL: "https://wad2-project-577ea-default-rtdb.asia-southeast1.firebasedatabase.app",
        apiKey: "AIzaSyDWR7cQApDtFlD2wx5Btku67Bhg8_xwsUg",
        authDomain: "wad2-project-577ea.firebaseapp.com",
        projectId: "wad2-project-577ea",
        storageBucket: "wad2-project-577ea.appspot.com",
        messagingSenderId: "878918082978",
        appId: "1:878918082978:web:250e7cfd55234ea00012fb",
        measurementId: "G-SLGD98DFQ5"
    };
    firebase.initializeApp(firebaseConfig);
    var database = firebase.database();

    var table;
    var key = "";
    const app = Vue.createApp({
        data() {
            return {
                currentUser: null,
                entries: [],
                bgLevel: "",
                date: "",
                recordKeys: "",
                valuesArr: "",
            }
        },
        methods: {
            async submitEntry() {
                var userRef = database.ref('users/' + this.currentUser.userKey + '/bgEntries');
                var newEntryRef = userRef.push();
                await newEntryRef.set({
                    bgLevel: this.bgLevel,
                    date: this.date,
                });
                table.row.add([this.bgLevel, this.date]).draw(); //adding a row in datatable 
                //Clear input fields
                this.bgLevel = "";
                this.date = "";
            },
            logout() {
                localStorage.removeItem("user");
                window.location.href = "login.html";
            },
       
            async getEntries() {
                var ref = database.ref("users/" + this.currentUser.userKey + "/bgEntries");
                let snapshot = await ref.once('value')
                this.entries = snapshot.val();

                //Convert entries to array in order to use DataTable
                let entriesArr = Object.values(this.entries);
                let valuesArr = [];

                for (let entry of entriesArr) {
                    valuesArr.push(Object.values(entry));
                }
                this.recordKeys = Object.keys(this.entries);
                this.valuesArr = valuesArr;
                key = this.recordKeys;
                // console.log("entriesArr" + entriesArr);
                // console.log(this.recordKeys);
                // console.log(this.valuesArr);

                //Create Table
                table = new DataTable('#datatable', {
                    columns: [
                        { title: 'Blood glucose level (mg/dl)' },
                        { title: 'Entry Date' },
                        { title: "Action" },
                    ],
                    data: valuesArr,
                    columnDefs: [
                        {
                            targets: -1, // Target the last column (Action)
                            data: null,
                            render: function (data, type, row, meta) {
                                // Use meta.row to get the row index and create a unique index
                                var rowIndex = meta.row;

                                // Create a delete button with a unique index
                                return '<button class="delete-button" data-index="' + rowIndex + '" v-on:click = "delete()">Delete</button>';
                            }
                        },
                    ],
                });


            }
        },
        created() {
            this.currentUser = JSON.parse(localStorage.getItem("user"));
            this.getEntries();
        },


    });

    const vm = app.mount("#app")
    



    
    
    let entries = [];
    let recordKeys = [];
    let currentUser = JSON.parse(localStorage.getItem("user"));
    console.log(currentUser);
    async function getEntries(index){
        var ref = database.ref('users/' + currentUser.userKey + '/bgEntries');
        let snapshot = await ref.once('value');
        entries = snapshot.val();
        recordKeys = Object.keys(entries); //recordkeys only exist in here 
        console.log(recordKeys[0]);
        let rKey = recordKeys[index];
        let recordRef =  database.ref('users/' + currentUser.userKey + '/bgEntries/' + rKey);
        recordRef.remove()
            .then(() => {
                console.log('Record deleted successfully.');
            })
            .catch(error => {
                console.error('Error deleting record:', error);
            });
    }
   

    // function to delete row
    $(document).ready(function () {
        $('#datatable').on('click', '.delete-button', function () {
            var index = $(this).data('index');
            // console.log('Clicked on delete button at index ' + index);
            getEntries(index);
            var row = table.row($(this).parents('tr'));
            row.remove().draw();
        });
    });
   
</script>