<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blood Pressure Tracker</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
   
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- DataTable-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-database-compat.js"></script>
    <!-- icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>

<body class="sb-nav-fixed">
    <div id="app">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-success" id="navbar">
            <a class="navbar-brand ps-3" href="afterloginhome.html">HealthBuddy</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="afterloginhome.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="trackerDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Tracker
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="trackerDropdown">
                            <li><a class="dropdown-item" href="bloodpressure.html">Blood Pressure Tracker</a></li>
                            <li><a class="dropdown-item" href="bloodglucose.html">Blood GLucose Tracker</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="alert.html">Alert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="map.html">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="forum.html">Forum</a>
                    </li>
                </ul>
            </div>

            <div>
                <div class="small" style="color: white;">Welcome {{currentUser.fName + " " +currentUser.lName}}!</div>
            </div>

            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" @click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Enter Blood Pressure Reading</h1>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="date" type="date" placeholder=""
                                            v-model="date" />
                                        <label for="date">Entry date</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="diastolicBP" type="text" placeholder=""
                                            v-model="diastolicBP" />
                                        <label for="diastolicBP">Diastolic Blood Pressure</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="systolicBP" type="text" placeholder=""
                                            v-model="systolicBP" />
                                        <label for="systolicBP">Systolic Blood Pressure</label>
                                    </div>
                                </div>

                            </div>
                            <button class="btn btn-primary" @click="submitEntry()">Submit</button>
                        </div>
                    </div>

                    <h1 class="mt-4">Blood Pressure Records</h1>
                    <div class="card mb-4">
                        <div class="card-body">
                            <table id="datatable" class="table table-striped" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </main>
        </div>


        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>

<script 
 src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
 integrity="...HUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script>
    // Initialize Firebase 
    const firebaseConfig = {
        databaseURL: "https://wad2-project-577ea-default-rtdb.asia-southeast1.firebasedatabase.app",
        apiKey: "AIzaSyDWR7cQApDtFlD2wx5Btku67Bhg8_xwsUg",
        authDomain: "wad2-project-577ea.firebaseapp.com",
        projectId: "wad2-project-577ea",
        storageBucket: "wad2-project-577ea.appspot.com",
        messagingSenderId: "878918082978",
        appId: "1:878918082978:web:250e7cfd55234ea00012fb",
        measurementId: "G-SLGD98DFQ5"
    };
    firebase.initializeApp(firebaseConfig);
    var database = firebase.database();

    var table;

    const app = Vue.createApp({
        data() {
            return {
                currentUser: null,
                entries: [],
                systolicBP: "",
                diastolicBP: "",
                date: "",
            }
        },
        methods: {
            async submitEntry() {
                var userRef = database.ref('users/' + this.currentUser.userKey + '/entries');
                var newEntryRef = userRef.push();
                await newEntryRef.set({
                    systolicBP: this.systolicBP,
                    diastolicBP: this.diastolicBP,
                    date: this.date,
                });
                table.row.add([this.date, this.diastolicBP, this.systolicBP]).draw();
                //Clear input fields
                this.systolicBP = "";
                this.diastolicBP = "";
                this.date = "";
            },
            logout() {
                localStorage.removeItem("user");
                window.location.href = "login.html";
            },
            async getEntries() {
                var ref = database.ref("users/" + this.currentUser.userKey + "/entries");
                let snapshot = await ref.once('value')
                this.entries = snapshot.val();

                //Convert entries to array in order to use DataTable
                let entriesArr = Object.values(this.entries);
                let valuesArr = [];
                for (let entry of entriesArr) {
                    valuesArr.push(Object.values(entry));
                }

                //Create Table
                table = new DataTable('#datatable', {
                    columns: [
                        { title: 'Entry Date' },
                        { title: 'Diastolic Blood Pressure' },
                        { title: 'Systolic Blood Pressure' },
                        { title: "action" },
                    ],
                    data: valuesArr,
                    columnDefs: [
                        {
                            targets: -1, // Target the last column (Action)
                            data: null,
                            render: function (data, type, row, meta) {
                                // Use meta.row to get the row index and create a unique index
                                var rowIndex = meta.row;

                                // Create a delete button with a unique index
                                return '<button class="delete-button" data-index="' + rowIndex + '"><i class="fas fa-trash-alt"></i></button>';
                            }
                        },
                    ],
                });


            }
        },
        created() {
            this.currentUser = JSON.parse(localStorage.getItem("user"));
            this.getEntries();
        },
    });

    const vm = app.mount("#app")

    let entries = [];
    let recordKeys = [];
    let currentUser = JSON.parse(localStorage.getItem("user"));
    console.log(currentUser);
    async function getEntries(index) {
        var ref = database.ref('users/' + currentUser.userKey + '/entries');
        let snapshot = await ref.once('value');
        entries = snapshot.val();
        recordKeys = Object.keys(entries); //recordkeys only exist in here 
        console.log(recordKeys[0]);
        let rKey = recordKeys[index];
        let recordRef = database.ref('users/' + currentUser.userKey + '/entries/' + rKey);
        recordRef.remove()
            .then(() => {
                console.log('Record deleted successfully.');
            })
            .catch(error => {
                console.error('Error deleting record:', error);
            });
    }


    // function to delete row
    $(document).ready(function () {
        $('#datatable').on('click', '.delete-button', function () {
            var index = $(this).data('index');
            // console.log('Clicked on delete button at index ' + index);
            getEntries(index);
            var row = table.row($(this).parents('tr'));
            row.remove().draw();
        });
    });

</script>