<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blood Pressure Tracker</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- ICONS -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- DataTable-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.5.0/firebase-database-compat.js"></script>
    <!-- CSS  -->
    <link rel="stylesheet" href="css/global.css">
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--Chatbot-->                
    <script type='text/javascript'>
		(function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'PNYC9pEHDGnxainri_c', {});
    </script>
    <style>
        body {
            background-color: #a8e0c3;
        }
    </style>

</head>

<body class="sb-nav-fixed">
    <div id="app">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="afterloginhome.html">
                    <i class="fas fa-heartbeat customSize"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="afterloginhome.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="trackerDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Tracker
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="trackerDropdown">
                                <li><a class="dropdown-item" href="bloodpressure.html">Blood Pressure Tracker</a>
                                </li>
                                <li><a class="dropdown-item" href="bloodglucose.html">Blood Glucose Tracker</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="alert.html">Notification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="map.html">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="forum.html">Forum</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" @click="logout()">Logout</a></li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <!-- JUMBOTRON -->
        <div class="p-2 pt-5 bg-success">
            <div class="container-fluid py-5">
                <h1 class="display-8 fw-bold" style="text-align: center; color:white" >Blood Pressure</h1>
                <p class="fs-5" style="text-align: center;color:white">Record and keep track of your blood pressure here!</p>
            </div>
        </div>
        <!-- JUMBOTRON -->
        <!-- TRACKER DO NOT TOUCH -->
        <div>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Enter Blood Pressure Reading</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="date" type="date" placeholder="" v-model="date" />
                                    <label for="date">Entry date</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="diastolicBP" type="text" placeholder=""
                                        v-model="diastolicBP" />
                                    <label for="diastolicBP">Diastolic Blood Pressure</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="systolicBP" type="text" placeholder=""
                                        v-model="systolicBP" />
                                    <label for="systolicBP">Systolic Blood Pressure</label>
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-primary" @click="submitEntry()">Submit</button>
                    </div>
                </div>

                <h1 class="mt-4">Blood Pressure Records</h1>
                <div class="card mb-4">
                    <div class="container-fluid p-4">
                        <table id="datatable" class="table table-striped" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer-basic aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500">
        <footer>
            <div class = "social text-dark fw-bold" id = "app5">
                Logged in as: {{currentUser.fName + " " +currentUser.lName}} 
            </div>
            <div class="social">
                <a href="#">
                    <iconify-icon icon="ion:logo-apple-appstore"></iconify-icon>
                </a>
                <a href="#">
                    <iconify-icon icon="ion:logo-google-playstore"></iconify-icon>
                </a>
                <a href="#">
                    <iconify-icon icon="ion:logo-instagram"></iconify-icon>
                </a>
            </div>
            <p class="copyright">HealthBuddy &copy; IS216</p>
        </footer>
    </div>

<!-- AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script>

    // Initialize Firebase 
    const firebaseConfig = {
        databaseURL: "https://wad2-project-577ea-default-rtdb.asia-southeast1.firebasedatabase.app",
        apiKey: "AIzaSyDWR7cQApDtFlD2wx5Btku67Bhg8_xwsUg",
        authDomain: "wad2-project-577ea.firebaseapp.com",
        projectId: "wad2-project-577ea",
        storageBucket: "wad2-project-577ea.appspot.com",
        messagingSenderId: "878918082978",
        appId: "1:878918082978:web:250e7cfd55234ea00012fb",
        measurementId: "G-SLGD98DFQ5"
    };
    firebase.initializeApp(firebaseConfig);
    var database = firebase.database();

    var table;

    const app = Vue.createApp({
        data() {
            return {
                currentUser: null,
                entries: [],
                systolicBP: "",
                diastolicBP: "",
                date: "",
            }
        },
        methods: {
            async submitEntry() {
                var userRef = database.ref('users/' + this.currentUser.userKey + '/entries');
                var newEntryRef = userRef.push();
                await newEntryRef.set({
                    systolicBP: this.systolicBP,
                    diastolicBP: this.diastolicBP,
                    date: this.date,
                });
                table.row.add([this.date, this.diastolicBP, this.systolicBP]).draw();
                //Clear input fields
                this.systolicBP = "";
                this.diastolicBP = "";
                this.date = "";
            },
            logout() {
                localStorage.removeItem("user");
                window.location.href = "index.html";
            },
            async getEntries() {
                var ref = database.ref("users/" + this.currentUser.userKey + "/entries");
                let snapshot = await ref.once('value')
                this.entries = snapshot.val();

                //Convert entries to array in order to use DataTable
                let entriesArr = Object.values(this.entries);
                let valuesArr = [];
                for (let entry of entriesArr) {
                    valuesArr.push(Object.values(entry));
                }

                //Create Table
                table = new DataTable('#datatable', {
                    columns: [
                        { title: 'Entry Date' },
                        { title: 'Diastolic Blood Pressure' },
                        { title: 'Systolic Blood Pressure' },
                        { title: "action" },
                    ],
                    data: valuesArr,
                    columnDefs: [
                        {
                            targets: -1, // Target the last column (Action)
                            data: null,
                            render: function (data, type, row, meta) {
                                // Use meta.row to get the row index and create a unique index
                                var rowIndex = meta.row;

                                // Create a delete button with a unique index
                                return '<button class="delete-button" data-index="' + rowIndex + '"><i class="fas fa-trash-alt"></i></button>';
                            }
                        },
                    ],
                });


            }
        },
        created() {
            this.currentUser = JSON.parse(localStorage.getItem("user"));
            if (!this.currentUser) {
                // Redirect to the login page
                window.location.href = "login.html";
            };
            this.getEntries();
        },
    });

    const vm = app.mount("#app")

    let entries = [];
    let recordKeys = [];
    let currentUser = JSON.parse(localStorage.getItem("user"));
    console.log(currentUser);
    async function getEntries(index) {
        var ref = database.ref('users/' + currentUser.userKey + '/entries');
        let snapshot = await ref.once('value');
        entries = snapshot.val();
        recordKeys = Object.keys(entries); //recordkeys only exist in here 
        console.log(recordKeys[0]);
        let rKey = recordKeys[index];
        let recordRef = database.ref('users/' + currentUser.userKey + '/entries/' + rKey);
        recordRef.remove()
            .then(() => {
                console.log('Record deleted successfully.');
            })
            .catch(error => {
                console.error('Error deleting record:', error);
            });
    }


    // function to delete row
    $(document).ready(function () {
        $('#datatable').on('click', '.delete-button', function () {
            var index = $(this).data('index');
            // console.log('Clicked on delete button at index ' + index);
            getEntries(index);
            var row = table.row($(this).parents('tr'));
            row.remove().draw();
        });
    });

    const app10 = Vue.createApp({
        data() {
            return {
                currentUser: null,
            }
        },
        created() {
            this.currentUser = JSON.parse(localStorage.getItem("user"));
        },
    }).mount("#app5");

</script>